html { position: absolute; top: 0; bottom: 0; width: 100%; background-color: #f5f5f5; }
body { min-width: 600px; } 
body, section, div#main { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; }
div#main { top: 30px; }
section#leftnav { background-color: #ddd; height: 100%; width: 200px;}
section#content { overflow-y:auto; }

.nav img { height: 20px; width: 20px; position: relative; top: -2px; margin-left: 3px; display: none; }
.navbar .nav > li > a.empty { padding: 5px 10px; color: #666; cursor: auto; }
.navbar .nav > li > a.error { color: #b94a48 !important; }

#version { position: absolute; bottom:5px; right:5px; width: 400px; padding: 5px; background-color: #fee; display: none; border: 1px solid #333; z-index: 10000; }


.navbar .nav > li > a { padding: 5px 10px; }
.navbar-inner { min-height: 30px; }

div.page { display: none; }
div.page.active { display: block; }
div.page header { padding: 2px 10px 5px 10px; background-color: #fff; overflow: hidden; }
div.page header > div { float: left; margin-right: 5%; height: 30px; margin:0px; }
div.page > div.tab-container { bottom: 0; left: 0; right: 0; top: 0px; overflow-y: auto; height: auto; }
div.page.profile > div.tab-container { top: 37px; }

.nav-pills > li > a { padding: 7px 5px; margin: 3px 2px 0 0; }
input { margin: 3px 10px 3px 0px; width: 170px;  }
button.btn { margin: 3px 0; }

div.profile h4.profile-title { overflow: hidden; word-break: break-all; color: #08C; }
div.profile ul.nav { margin-bottom: 5px; }
div.profile ul.nav li { margin-right: 10px;}

div.profile div.tab { display: none; overflow-x:hidden; padding: 10px;}
div.profile div.tab.active { display: block; }
div.profile .contents { width: 100%; overflow-y: auto; overflow-x: hidden; padding-left:7px;}
div.profile .contents.title span { display: inline-block; }

div.profile .contents ul { font-family: Arial, sans-serif; -webkit-border-radius: 2px; line-height: 11pt; list-style: none; margin:0; padding: 0; font-size: 9pt; }
div.profile .contents ul ul ul { display:none }
div.profile .contents ul ul.show { display:block; margin-top: 3px; }
div.profile .contents ul li:hover { background-color: #f9f9f9; }
div.profile .contents li.parent { border-left: 1px dotted grey; }
div.profile .contents li.parent { padding: 0 0 3px 8px; }
div.profile .contents li > div { cursor:pointer; position: relative; left: -15px;}
div.profile .contents li:not(.parent) > span { position: relative; left: -8px; }
div.profile .contents li:not(.parent) > span:first-child { top: 8px; width: 15px; border-top: 1px dotted grey; background-color: transparent; }
div.profile .contents li.parent > div span.handle { border: 1px solid black; border-radius: 2px; background: white;}
div.profile .sourcelink {float: right; margin-right:5px;} 

div.profile .contents ul li { min-width: 335px; }
div.profile .contents ul li span { vertical-align: top; margin-right: 5px; display: inline-block; max-height: 40px; overflow: hidden; }
div.profile .contents ul li span.value.open { max-height: none; }
div.profile .contents ul li span:nth-child(1) { width: 10px; padding-left: 3px; }
div.profile .contents ul li span:nth-child(2) { width: 20%; min-width: 65px; }
div.profile .contents ul li span:nth-child(3) { width: 70%; min-width: 230px; }

div.profile .timing .contents ul li span:nth-child(1) { width: 10px; }
div.profile .timing .contents ul li span:nth-child(2) { width: 60px; }
div.profile .timing .contents ul li span:nth-child(3) { width: 40px; }
div.profile .timing .contents ul li span:nth-child(4) { width: 300px; }

#main_list .searchterm { color: red; }
#main_list .contents ul li:hover > span { max-height: none; display:inline-block; }

#summary ul, #results ul { padding: 0px; margin:0px; list-style: none; }

.accordion-group { margin-top: 1px; margin-bottom:0px; border: none; border-radius: 0;}
.accordion-inner { margin: 0px; padding: 0 5px 5px; border: none; }
.accordion-heading {  margin-top: 1px; overflow:hidden; padding: 0px 5px; }
.accordion-heading a { font-size: 13px; padding: 5px 5px; }
.accordion-heading a span { display: inline-block; width: 40px; }

.accordion-heading .accordion-toggle { padding: 8px 15px; }
.accordion ul { list-style: none; margin: 0px; }
.accordion ul:not(.facetvalues) { margin-bottom: 5px; }
.accordion h4 { background-color: #616266; color: #8ed400; padding: 2px 5px; font-size: 12px; }
.accordion li span { display: inline-block; vertical-align: top; }

#results .accordion { position: absolute; top: 30px; bottom: 0px; right: 0px; left: 0px; overflow-y: scroll; margin: 0px; }
#results .accordion-inner { padding: 0px; margin-bottom: 10px; border-bottom: 3px solid #616266; }
#results .accordion-heading { }
#results .accordion-heading .accordion-toggle { width: 70%; display: inline-block; }
#results .accordion-heading .link { float: right; display: inline-block; width: 20%; text-align: right; }
#results .accordion-heading a .rank { float: left; width: 10%; max-width: 50px; color: black; }
#results .accordion-heading a .title { float: left; width: 85%; color: black; font-weight: bold; }
#results .accordion-heading a span { width: auto; }
#results .accordion ul.resultdata span:nth-child(1) { width: 25%; max-width: 150px; }
#results .accordion ul.resultdata span:nth-child(2) { width: 75%; }
#results .accordion ul.facetdata li span { width: 50px; overflow: hidden; }
#results .accordion ul.facetdata li span:nth-child(2) { min-width: 150px; width: 20%; }
#results .accordion ul.facetdata li span:nth-child(3) { min-width: 150px; width: 20%; }
#results .accordion ul.facetdata li span:nth-child(6) { min-width: 100px; width: 20%; }
#results .accordion ul:not(.facetvalues) > li { margin: 1px; padding-left: 5px; }
#results .accordion ul.resultdata > li:nth-child(2n-1) { background-color: #ddd; }
#results .accordion ul.resultdata > li:nth-child(2n) { background-color: #eee; }
#results .accordion ul.facetdata li.header-row { background-color: #bbb; font-weight: bold; color: black; }
#results .accordion ul.facetdata > li:nth-child(2n-1) { background-color: #c8c8c8; }
#results .accordion ul.facetdata > li:nth-child(2n) { background-color: #d8d8d8; }
#results .accordion ul.facetdata ul.facetvalues { background-color: rgba(255,255,255, 0.4); }

#results footer { 
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 20px;
	font-size: 10pt;
	font-weight: bold;
	padding: 5px; 
	background-color: #eee;
	border-bottom: 1px solid #999;
}

#results footer span { text-transform: uppercase; font-weight: bold; }

div.profile div.tab.summary { padding: 0px; }
div.tab.summary .accordion-heading .name { display: block; padding: 2px; }
div.tab.summary .accordion-heading .link { display: block; margin-bottom: 5px; background-color: #ddd; border-radius: 5px; overflow: hidden; word-break: break-all; }

div.tab.summary .accordion-heading a.link { color: black; }


div.tab.summary .accordion-inner ul { background-color: #ddd; border-radius: 5px; padding: 5px 0;}
div.tab.summary .accordion-inner ul > li { padding-left: 10px; }
div.tab.summary .accordion-inner ul li:nth-child(2n) { background-color: #eee; }
div.tab.summary .accordion-inner ul li span.name { min-width: 150px; width: 10%; }
div.tab.summary .accordion-inner ul li span.value { min-width: 150px; }

div.tab.summary .test span.name { min-width: 150px; width: 30%; }
div.tab.summary .test span.value { font-weight: bold; width: 60%; float:right; padding-left: 10px; }
div.tab.summary .test span.value.passed { color: #468847; }
div.tab.summary .test span.value.missing { color: #c09853; }
div.tab.summary .test span.value.failed { color: #b94a48; }
div.tab.summary .test span.error { color: #b94a48; border-top: 1px solid #999; border-bottom: 1px solid #999; margin-bottom: 5px; padding: 3px 10px 3px 0; }

#notifications { margin: 15px; }